anyio==3.7.0
dnspython==2.2.1
eventlet==0.33.2
exceptiongroup==1.1.1
fastapi==0.89.1
h11==0.14.0
httpx==0.24.1
pytest==7.3.1
requests==2.32.2
uvicorn==0.20.0
ormar==0.12.1
psycopg2-binary==2.9.5
asyncpg==0.27.0
alembic==1.13.2
SQLAlchemy==1.4.41
pytest-asyncio==0.23.8
Faker==18.0.0
aiosqlite
pytest-cov
ipython
python-dotenv==1.0.0
pydantic[dotenv]